<h1>Reactive Form 1</h1>
<p>Simple Reactive Form</p>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="firstname" class="form-label">Firstname</label>
    <input id="firstname" type="text" formControlName="firstname" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input id="lastname" type="text" formControlName="lastname" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input id="age" type="number" formControlName="age" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
