<h1>Template Driven Forms 2</h1>
<p>Template Driven Forms <strong>with Validators</strong></p>

<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="comment" class="form-label">Comment</label>
    <textarea id="comment" #commentControl="ngModel" [(ngModel)]="comment" name="comment" class="form-control"
              [class.is-invalid]="commentControl.invalid" required minlength="3"></textarea>

    <small class="text-danger" *ngIf="commentControl.invalid">
      <ng-container *ngIf="commentControl.hasError('required')">
        The comment is required
      </ng-container>
      <ng-container *ngIf="commentControl.hasError('minlength')">
        The comment must have a minimum of 3 characters
      </ng-container>
    </small>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
