<h1>Template Driven Form</h1>
<p>Simple Template Driven Form with ngModel</p>

<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label">Firstname</label>
    <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Lastname</label>
    <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" />
  </div>
  <div class="mb-3">
    <label class="form-label">Age</label>
    <input type="number" [(ngModel)]="age" name="age" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
