<h1>Html Form</h1>
<p>Simple Html Form</p>

<form>
  <div class="mb-3">
    <label for="firstname" class="form-label">Firstname</label>
    <input id="firstname" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input id="lastname" type="text" class="form-control" />
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input id="age" type="number" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
